.header-contacts {
	height: 77px;
	background-color: #FFF;

	-webkit-box-shadow: 0 2px #ebedef;
	   -moz-box-shadow: 0 2px #ebedef;
		-ms-box-shadow: 0 2px #ebedef;
			box-shadow: 0 2px #ebedef;
}

.header-contacts_container {
	@extend %clearfix;
	@extend %conteiner;
}

.contacts-socials__list {
	float: left;
	margin-top: 25px;

	.socials__item {
		display: inline-block;
		vertical-align: top;
		font-size: 0;
		margin-left: 12px;

		&:first-child{
			margin-left: 0;
		}

		.socials__link {
			display: block;

			&.fbtop {@include sprite($fbtop);}
			&.vktop {@include sprite($vktop);}
			&.twtop {@include sprite($twtop);}

			&.fbtop:hover {@include sprite($fbtop-hover);}
			&.vktop:hover {@include sprite($vktop-hover);}
			&.twtop:hover {@include sprite($twtop-hover);}
		}
	}
}


.contacts-phone {
	float: right;
	margin-top: 25px;

	.contacts-phone__icon {
		@include sprite($contacts-phone);
		margin-right: 10px;
		margin-top: 5px;
	}

	.contacts-phone__text {
		font-size: 18px;
		font-family: 'open_sanssemibold';
		color: #333;
	}
}

.contacts-address {
	float: right;
	margin-top: 27px;
	margin-right: 87px;

	.contacts-address__icon {
		@include sprite($contacts-map);
		margin-right: 10px;
		margin-top: 3px;
	}

	.contacts-address__text {
		font-size: 14px;
		font-family: 'open_sansregular';
		color: #333;
	}
}

.header-middle {
	@extend %conteiner;
	display: table;
	height: 96px;

	.cell {
		display: table-cell;
		vertical-align: middle;
	}

	.header-middle__logo.cell {
		width: 250px;
		.logo-img {
			padding-top: 6px ;
			padding-left: 8px ;
		}
		.logo-text {
			font-size: 0;
		}
	}
	.header-middle__search.cell {
		width: 465px;
		position: relative;

		.search-tovar__form {

			padding: 0 5px 0 50px;

			.search-tovar__text {
				color: #7f7f7f;
				width: 286px;
				height: 34px;
				outline: 0 !important;
				padding: 0 15px 0 15px;
				-webkit-border-radius: 3px 0 0 3px;
				-moz-border-radius: 3px 0 0 3px;
				border-radius: 3px 0 0 3px;

				background-color: rgba(255,255,255,.6);
				border: solid 1px #dee1e4;

				text-overflow:ellipsis;
				overflow: hidden;
				white-space: nowrap;


			}

			.search-tovar__btn {
				color: #FFF;
				font-size: 16px;
				font-family: 'open_sanssemibold';
				position: absolute;

				width: 79px;
				height: 34px;
				border: 1px solid transparent;
				outline: 0 !important;

				-webkit-border-radius: 0 3px 3px 0;
				-moz-border-radius: 0 3px 3px 0;
				border-radius: 0 3px 3px 0;
				background-color: #f60;
				background-image: -webkit-linear-gradient(56deg, #f60, #ff6e35 99%);
				background-image: -moz-linear-gradient(56deg, #f60, #ff6e35 99%);
				background-image: -o-linear-gradient(56deg, #f60, #ff6e35 99%);
				background-image: -ms-linear-gradient(56deg, #f60, #ff6e35 99%);
				background-image: linear-gradient(56deg, #f60, #ff6e35 99%);

				&:hover {
					font-size: 14px;
					background-color: red;
				}
			}
		}
	}

	.header-middle__mininav.cell {

		.mininav__item {
			display: inline-block;
			margin-left: 26px;

			&:first-child {
				margin-left: 0;
			}
		}

		.mininav__link {
			font-size: 16px;
			font-family: 'open_sanssemibold';
			color: #5d656c;

			&:hover {
				color: #f60;
			}
		}
	}
}

.header-nav {
	background-color: #FFF;
	-webkit-box-shadow: 0 2px #ebedef;
	-moz-box-shadow: 0 2px #ebedef;
	box-shadow: 0 2px #ebedef;
	height: 52px;
	padding: 0;
	.nav {
		@extend %conteiner;
		padding-left: 25px ;

		.nav__item {
			float: left;
			padding: 0 13px;
			height: 52px;
			line-height: 52px;

			&:hover {
				background-color: #e4e2e2;
			}

			.nav__link {
				font-size: 16px;
				font-family: 'open_sanssemibold';
				color: #5d656c;
				text-decoration: none;

				&:hover {
					color: #f60;
				}
			}

			&.activ {
				background-color: #f60;
				.nav__link {
					color: #FFF;
				}
			}
		}
	}
}
