html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 ,h2 {
	margin: 0;
	padding: 0;
}

p {
	text-indent: 20px;
	font-size: 14px;
	font-family: 'open_sansregular';
	line-height: 20px;
	text-align: justify;
}

.main-title {
	font-size: 20px;
	font-family: 'open_sansbold';
	color: #333;
	margin-bottom: 25px;
}

.icon {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}
