/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-name: 'arrow';
$arrow-x: 129px;
$arrow-y: 98px;
$arrow-offset-x: -129px;
$arrow-offset-y: -98px;
$arrow-width: 20px;
$arrow-height: 12px;
$arrow-total-width: 155px;
$arrow-total-height: 144px;
$arrow-image: '../img/sprite.png';
$arrow: (129px, 98px, -129px, -98px, 20px, 12px, 155px, 144px, '../img/sprite.png', 'arrow', );
$arrowslider-name: 'arrowslider';
$arrowslider-x: 145px;
$arrowslider-y: 82px;
$arrowslider-offset-x: -145px;
$arrowslider-offset-y: -82px;
$arrowslider-width: 10px;
$arrowslider-height: 14px;
$arrowslider-total-width: 155px;
$arrowslider-total-height: 144px;
$arrowslider-image: '../img/sprite.png';
$arrowslider: (145px, 82px, -145px, -82px, 10px, 14px, 155px, 144px, '../img/sprite.png', 'arrowslider', );
$contacts-map-name: 'contacts-map';
$contacts-map-x: 11px;
$contacts-map-y: 128px;
$contacts-map-offset-x: -11px;
$contacts-map-offset-y: -128px;
$contacts-map-width: 11px;
$contacts-map-height: 16px;
$contacts-map-total-width: 155px;
$contacts-map-total-height: 144px;
$contacts-map-image: '../img/sprite.png';
$contacts-map: (11px, 128px, -11px, -128px, 11px, 16px, 155px, 144px, '../img/sprite.png', 'contacts-map', );
$contacts-phone-name: 'contacts-phone';
$contacts-phone-x: 0px;
$contacts-phone-y: 128px;
$contacts-phone-offset-x: 0px;
$contacts-phone-offset-y: -128px;
$contacts-phone-width: 11px;
$contacts-phone-height: 16px;
$contacts-phone-total-width: 155px;
$contacts-phone-total-height: 144px;
$contacts-phone-image: '../img/sprite.png';
$contacts-phone: (0px, 128px, 0px, -128px, 11px, 16px, 155px, 144px, '../img/sprite.png', 'contacts-phone', );
$fbbottom-hover-name: 'fbbottom-hover';
$fbbottom-hover-x: 0px;
$fbbottom-hover-y: 43px;
$fbbottom-hover-offset-x: 0px;
$fbbottom-hover-offset-y: -43px;
$fbbottom-hover-width: 43px;
$fbbottom-hover-height: 43px;
$fbbottom-hover-total-width: 155px;
$fbbottom-hover-total-height: 144px;
$fbbottom-hover-image: '../img/sprite.png';
$fbbottom-hover: (0px, 43px, 0px, -43px, 43px, 43px, 155px, 144px, '../img/sprite.png', 'fbbottom-hover', );
$fbbottom-name: 'fbbottom';
$fbbottom-x: 43px;
$fbbottom-y: 43px;
$fbbottom-offset-x: -43px;
$fbbottom-offset-y: -43px;
$fbbottom-width: 43px;
$fbbottom-height: 43px;
$fbbottom-total-width: 155px;
$fbbottom-total-height: 144px;
$fbbottom-image: '../img/sprite.png';
$fbbottom: (43px, 43px, -43px, -43px, 43px, 43px, 155px, 144px, '../img/sprite.png', 'fbbottom', );
$fbtop-hover-name: 'fbtop-hover';
$fbtop-hover-x: 129px;
$fbtop-hover-y: 26px;
$fbtop-hover-offset-x: -129px;
$fbtop-hover-offset-y: -26px;
$fbtop-hover-width: 26px;
$fbtop-hover-height: 26px;
$fbtop-hover-total-width: 155px;
$fbtop-hover-total-height: 144px;
$fbtop-hover-image: '../img/sprite.png';
$fbtop-hover: (129px, 26px, -129px, -26px, 26px, 26px, 155px, 144px, '../img/sprite.png', 'fbtop-hover', );
$fbtop-name: 'fbtop';
$fbtop-x: 80px;
$fbtop-y: 86px;
$fbtop-offset-x: -80px;
$fbtop-offset-y: -86px;
$fbtop-width: 26px;
$fbtop-height: 26px;
$fbtop-total-width: 155px;
$fbtop-total-height: 144px;
$fbtop-image: '../img/sprite.png';
$fbtop: (80px, 86px, -80px, -86px, 26px, 26px, 155px, 144px, '../img/sprite.png', 'fbtop', );
$starred-name: 'starred';
$starred-x: 79px;
$starred-y: 112px;
$starred-offset-x: -79px;
$starred-offset-y: -112px;
$starred-width: 15px;
$starred-height: 15px;
$starred-total-width: 155px;
$starred-total-height: 144px;
$starred-image: '../img/sprite.png';
$starred: (79px, 112px, -79px, -112px, 15px, 15px, 155px, 144px, '../img/sprite.png', 'starred', );
$starred1-name: 'starred1';
$starred1-x: 129px;
$starred1-y: 67px;
$starred1-offset-x: -129px;
$starred1-offset-y: -67px;
$starred1-width: 19px;
$starred1-height: 15px;
$starred1-total-width: 155px;
$starred1-total-height: 144px;
$starred1-image: '../img/sprite.png';
$starred1: (129px, 67px, -129px, -67px, 19px, 15px, 155px, 144px, '../img/sprite.png', 'starred1', );
$starwhite-name: 'starwhite';
$starwhite-x: 64px;
$starwhite-y: 112px;
$starwhite-offset-x: -64px;
$starwhite-offset-y: -112px;
$starwhite-width: 15px;
$starwhite-height: 15px;
$starwhite-total-width: 155px;
$starwhite-total-height: 144px;
$starwhite-image: '../img/sprite.png';
$starwhite: (64px, 112px, -64px, -112px, 15px, 15px, 155px, 144px, '../img/sprite.png', 'starwhite', );
$starwhite1-name: 'starwhite1';
$starwhite1-x: 129px;
$starwhite1-y: 52px;
$starwhite1-offset-x: -129px;
$starwhite1-offset-y: -52px;
$starwhite1-width: 19px;
$starwhite1-height: 15px;
$starwhite1-total-width: 155px;
$starwhite1-total-height: 144px;
$starwhite1-image: '../img/sprite.png';
$starwhite1: (129px, 52px, -129px, -52px, 19px, 15px, 155px, 144px, '../img/sprite.png', 'starwhite1', );
$twbottom-hover-name: 'twbottom-hover';
$twbottom-hover-x: 86px;
$twbottom-hover-y: 43px;
$twbottom-hover-offset-x: -86px;
$twbottom-hover-offset-y: -43px;
$twbottom-hover-width: 43px;
$twbottom-hover-height: 43px;
$twbottom-hover-total-width: 155px;
$twbottom-hover-total-height: 144px;
$twbottom-hover-image: '../img/sprite.png';
$twbottom-hover: (86px, 43px, -86px, -43px, 43px, 43px, 155px, 144px, '../img/sprite.png', 'twbottom-hover', );
$twbottom-name: 'twbottom';
$twbottom-x: 0px;
$twbottom-y: 0px;
$twbottom-offset-x: 0px;
$twbottom-offset-y: 0px;
$twbottom-width: 43px;
$twbottom-height: 43px;
$twbottom-total-width: 155px;
$twbottom-total-height: 144px;
$twbottom-image: '../img/sprite.png';
$twbottom: (0px, 0px, 0px, 0px, 43px, 43px, 155px, 144px, '../img/sprite.png', 'twbottom', );
$twtop-hover-name: 'twtop-hover';
$twtop-hover-x: 129px;
$twtop-hover-y: 0px;
$twtop-hover-offset-x: -129px;
$twtop-hover-offset-y: 0px;
$twtop-hover-width: 26px;
$twtop-hover-height: 26px;
$twtop-hover-total-width: 155px;
$twtop-hover-total-height: 144px;
$twtop-hover-image: '../img/sprite.png';
$twtop-hover: (129px, 0px, -129px, 0px, 26px, 26px, 155px, 144px, '../img/sprite.png', 'twtop-hover', );
$twtop-name: 'twtop';
$twtop-x: 54px;
$twtop-y: 86px;
$twtop-offset-x: -54px;
$twtop-offset-y: -86px;
$twtop-width: 26px;
$twtop-height: 26px;
$twtop-total-width: 155px;
$twtop-total-height: 144px;
$twtop-image: '../img/sprite.png';
$twtop: (54px, 86px, -54px, -86px, 26px, 26px, 155px, 144px, '../img/sprite.png', 'twtop', );
$viewcontent-hover-name: 'viewcontent-hover';
$viewcontent-hover-x: 106px;
$viewcontent-hover-y: 86px;
$viewcontent-hover-offset-x: -106px;
$viewcontent-hover-offset-y: -86px;
$viewcontent-hover-width: 16px;
$viewcontent-hover-height: 16px;
$viewcontent-hover-total-width: 155px;
$viewcontent-hover-total-height: 144px;
$viewcontent-hover-image: '../img/sprite.png';
$viewcontent-hover: (106px, 86px, -106px, -86px, 16px, 16px, 155px, 144px, '../img/sprite.png', 'viewcontent-hover', );
$viewcontent-name: 'viewcontent';
$viewcontent-x: 0px;
$viewcontent-y: 112px;
$viewcontent-offset-x: 0px;
$viewcontent-offset-y: -112px;
$viewcontent-width: 16px;
$viewcontent-height: 16px;
$viewcontent-total-width: 155px;
$viewcontent-total-height: 144px;
$viewcontent-image: '../img/sprite.png';
$viewcontent: (0px, 112px, 0px, -112px, 16px, 16px, 155px, 144px, '../img/sprite.png', 'viewcontent', );
$viewlist-hover-name: 'viewlist-hover';
$viewlist-hover-x: 16px;
$viewlist-hover-y: 112px;
$viewlist-hover-offset-x: -16px;
$viewlist-hover-offset-y: -112px;
$viewlist-hover-width: 16px;
$viewlist-hover-height: 16px;
$viewlist-hover-total-width: 155px;
$viewlist-hover-total-height: 144px;
$viewlist-hover-image: '../img/sprite.png';
$viewlist-hover: (16px, 112px, -16px, -112px, 16px, 16px, 155px, 144px, '../img/sprite.png', 'viewlist-hover', );
$viewlist-name: 'viewlist';
$viewlist-x: 32px;
$viewlist-y: 112px;
$viewlist-offset-x: -32px;
$viewlist-offset-y: -112px;
$viewlist-width: 16px;
$viewlist-height: 16px;
$viewlist-total-width: 155px;
$viewlist-total-height: 144px;
$viewlist-image: '../img/sprite.png';
$viewlist: (32px, 112px, -32px, -112px, 16px, 16px, 155px, 144px, '../img/sprite.png', 'viewlist', );
$viewtable-hover-name: 'viewtable-hover';
$viewtable-hover-x: 48px;
$viewtable-hover-y: 112px;
$viewtable-hover-offset-x: -48px;
$viewtable-hover-offset-y: -112px;
$viewtable-hover-width: 16px;
$viewtable-hover-height: 16px;
$viewtable-hover-total-width: 155px;
$viewtable-hover-total-height: 144px;
$viewtable-hover-image: '../img/sprite.png';
$viewtable-hover: (48px, 112px, -48px, -112px, 16px, 16px, 155px, 144px, '../img/sprite.png', 'viewtable-hover', );
$viewtable-name: 'viewtable';
$viewtable-x: 129px;
$viewtable-y: 82px;
$viewtable-offset-x: -129px;
$viewtable-offset-y: -82px;
$viewtable-width: 16px;
$viewtable-height: 16px;
$viewtable-total-width: 155px;
$viewtable-total-height: 144px;
$viewtable-image: '../img/sprite.png';
$viewtable: (129px, 82px, -129px, -82px, 16px, 16px, 155px, 144px, '../img/sprite.png', 'viewtable', );
$vkbottom-hover-name: 'vkbottom-hover';
$vkbottom-hover-x: 86px;
$vkbottom-hover-y: 0px;
$vkbottom-hover-offset-x: -86px;
$vkbottom-hover-offset-y: 0px;
$vkbottom-hover-width: 43px;
$vkbottom-hover-height: 43px;
$vkbottom-hover-total-width: 155px;
$vkbottom-hover-total-height: 144px;
$vkbottom-hover-image: '../img/sprite.png';
$vkbottom-hover: (86px, 0px, -86px, 0px, 43px, 43px, 155px, 144px, '../img/sprite.png', 'vkbottom-hover', );
$vkbottom-name: 'vkbottom';
$vkbottom-x: 43px;
$vkbottom-y: 0px;
$vkbottom-offset-x: -43px;
$vkbottom-offset-y: 0px;
$vkbottom-width: 43px;
$vkbottom-height: 43px;
$vkbottom-total-width: 155px;
$vkbottom-total-height: 144px;
$vkbottom-image: '../img/sprite.png';
$vkbottom: (43px, 0px, -43px, 0px, 43px, 43px, 155px, 144px, '../img/sprite.png', 'vkbottom', );
$vktop-hover-name: 'vktop-hover';
$vktop-hover-x: 0px;
$vktop-hover-y: 86px;
$vktop-hover-offset-x: 0px;
$vktop-hover-offset-y: -86px;
$vktop-hover-width: 27px;
$vktop-hover-height: 26px;
$vktop-hover-total-width: 155px;
$vktop-hover-total-height: 144px;
$vktop-hover-image: '../img/sprite.png';
$vktop-hover: (0px, 86px, 0px, -86px, 27px, 26px, 155px, 144px, '../img/sprite.png', 'vktop-hover', );
$vktop-name: 'vktop';
$vktop-x: 27px;
$vktop-y: 86px;
$vktop-offset-x: -27px;
$vktop-offset-y: -86px;
$vktop-width: 27px;
$vktop-height: 26px;
$vktop-total-width: 155px;
$vktop-total-height: 144px;
$vktop-image: '../img/sprite.png';
$vktop: (27px, 86px, -27px, -86px, 27px, 26px, 155px, 144px, '../img/sprite.png', 'vktop', );
$spritesheet-width: 155px;
$spritesheet-height: 144px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow, $arrowslider, $contacts-map, $contacts-phone, $fbbottom-hover, $fbbottom, $fbtop-hover, $fbtop, $starred, $starred1, $starwhite, $starwhite1, $twbottom-hover, $twbottom, $twtop-hover, $twtop, $viewcontent-hover, $viewcontent, $viewlist-hover, $viewlist, $viewtable-hover, $viewtable, $vkbottom-hover, $vkbottom, $vktop-hover, $vktop, );
$spritesheet: (155px, 144px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
