extends ../main


block title 
	| Каталог мобильныех телефонов

block content_main 
	main.main
		section.view
			div.sorting Сортировать по
				select.sorting-list
					option.sorting-item(value="sort-mony") по цене
					option.sorting-item(value="sort-rating") по популярности
			div.viewcatalog Вид каталога
			ul.viewcatalog__list
				li.viewcatalog__item
					a.viewcatalog__link.viewcontent(href="#" title="Содержимое") viewcontent
				li.viewcatalog__item
					a.viewcatalog__link.viewtable(href="#" title="Таблица") viewtable
				li.viewcatalog__item.activ
					a.viewcatalog__link.viewlist(href="#" title="Список") viewlist
		section.products.viewlist
			+product(sams)
			+product(sams)
			+product(sams)


block content_bottom 
	div.content_bottom
		div.content_bottom_title
			| Важная информация
		div.content_bottom_text
			p.par 
				| Повседневная практика показывает, что сложившаяся структура организации влечет за собой
				| процесс внедрения и модернизации позиций, занимаемых участниками в отношении 
				| поставленных задач. Значимость этих проблем настолько очевидна, что реализация 
				| намеченных плановых заданий в значительной степени обуславливает создание модели  
				| развития. Таким образом консультация с широким активом представляет собой интересный 
				| эксперимент проверки модели развития.

			p.par
				| Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет 
				| оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким 
				| бразом сложившаяся структура организации требуют определения и уточнения направлений 
				| прогрессивного развития. Равным образом консультация с широким активом влечет за собой 
				| процесс внедрения и модернизации соответствующий условий активизации
			p.par 
				| Идейные соображения высшего порядка, а также начало повседневной работы по ормированию 
				| позиции позволяет оценить значение соответствующий условий активизации. С другой 
				| стороны сложившаяся структура организации позволяет оценить значение системы обучения 
				| кадров, соответствует насущным потребностям.
			p.par 
				| Повседневная практика показывает, что сложившаяся структура организации влечет за собой
				| процесс внедрения и модернизации позиций, занимаемых участниками в отношении 
				| поставленных задач. Значимость этих проблем настолько очевидна, что реализация 
				| намеченных плановых заданий в значительной степени обуславливает создание модели  
				| развития. Таким образом консультация с широким активом представляет собой интересный 
				| эксперимент проверки модели развития.
			p.par
				| Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет 
				| оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким 
				| бразом сложившаяся структура организации требуют определения и уточнения направлений 
				| прогрессивного развития. Равным образом консультация с широким активом влечет за собой 
				| процесс внедрения и модернизации соответствующий условий активизации
			p.par 
				| Идейные соображения высшего порядка, а также начало повседневной работы по ормированию 
				| позиции позволяет оценить значение соответствующий условий активизации. С другой 
				| стороны сложившаяся структура организации позволяет оценить значение системы обучения 
				| кадров, соответствует насущным потребностям.