extends ../main

block title 
	| Каталог мобильныех телефонов

block maincontent
	include ../_sections/_breadcrumbs
	article.maincontent
		div.container
			div.main-title
				| Мобильные телефоны
			include ../_sections/_sidebar
			main.main
				div.sort
					div.sort__title Сортировать по
						select.sort__list
							option.sort__item(value="sort-mony") по цене
							option.sort__item(value="sort-rating") по популярности
					div.view Вид каталога
					ul.view__list
						li.view__item.active
							a.view__link.view__table(href="#" id="view__table" title="Таблица") viewtable
						li.view__item
							a.view__link.view__content(href="#" id="view__content" title="Содержимое") viewcontent
						li.view__item
							a.view__link.view__list(href="#" id="view__list" title="Список") viewlist
				div.products.view__table
					ul.products__list
						+product(samsung, path)
						+product(lumia640, path)
						+product(archos, path)
						+product(alcatel, path)
						+product(fly, path)
						+product(highscreen, path)
				div.page-nav
					ul.page-nav__list
						li.page-nav__item
							a.page-nav__link(href="#") &lt;
						li.page-nav__item
							a.page-nav__link(href="#") 1
						li.page-nav__item
							a.page-nav__link.activ(href="#") 2
						li.page-nav__item
							a.page-nav__link(href="#") 3
						li.page-nav__item
							a.page-nav__link(href="#") &gt;
		include ../_sections/_content-bottom
