.main {

	.view {
		@include border-radius(5px);
		background-color: #e4ebee;
		border: solid 1px #dee1e4;
		//overflow: hidden;
		display: table;
		width: 100%;
		height: 55px;
		padding-left: 25px;
		font-size: 14px;
		font-family: 'open_sansregular';
		color: #5d656c;
		margin-bottom: 18px;

		.sorting {
			display: table-cell;
			vertical-align: middle;
			width: 350px;

			.sorting-list {
				font-size: 14px;
				font-family: 'open_sanslight';
				padding: 2px 10px;
				width: 200px;
			}
		}

		.viewcatalog {
			display: table-cell;
			vertical-align: middle;
			text-align: right;
			padding-right: 10px;
			width: 200px;
		}

		.viewcatalog__list {
			font-size: 0;
			float: right;

			.viewcatalog__item {
				height: 53px;
				display: table-cell;
				vertical-align: middle;
				border-left: 1px solid #dee1e4;
				padding: 0 17px;
				cursor: pointer;


				.viewcatalog__link {
					display: table-cell;
					&.viewtable {@include sprite($viewtable);}
					&.viewlist {@include sprite($viewlist);}
					&.viewcontent {@include sprite($viewcontent);}
				}

				&.activ, &:hover {
					.viewcatalog__link {
						&.viewtable {@include sprite($viewtable-hover);}
						&.viewlist {@include sprite($viewlist-hover);}
						&.viewcontent {@include sprite($viewcontent-hover);}
					}
				}
			}

		}
	}

	.products {
		background-color: #fbfbfb;
		@include border-radius(5px);
		border: solid 1px #dee1e4;
	}

	// Первй вид
	.viewcontent {
		.products__list {
			.products__item {
				padding: 20px 25px 13px 20px;
				border-top: solid 1px #dee1e4;

				&:first-child {
					border-top: 0;
				}

				.tovar {
					display: table;
					position: relative;

					.tovar-foto {
						display: table-cell;
						width: 140px;

						.tovar-foto__large {
							width: 136px;
							height: 136px;
							background-color: #FFF;
							border: 1px solid #dee1e4;
							padding: 5px;
							text-align: center;
							@include border-radius(2px);
							margin-bottom: 15px;
						}

						.tovar-foto-small__list {
							margin-bottom: 4px;

							.tovar-foto-small__item {
								width: 35px;
								height: 35px;
								display: inline-block;
								@include border-radius(2px);
								border: 1px solid #dee1e4;
								text-align: center;
								vertical-align: middle;
								margin-right: 10px;
								padding: 2px;

								&:last-child {
									margin-right: 0;
								}

								&:hover {
									border: 1px solid #F60;
								}
							}
						}

						.tovar-art {
							text-align: center;

							.tovar-art__type {
								font-size: 12px;
								font-family: 'open_sansbold';
								margin-right: 5px;
								color: #7f7f7f;
							}

							.tovar-art__number {
								font-size: 14px;
								font-family: 'open_sansbold';
								color: #333;
							}
						}
					}

					.tovar-descr {
						display: table-cell;
						vertical-align: top;
						width: 430px;
						padding: 0 22px;
						font-size: 16px;

						.tovar-descr__name {
							font-size: 16px;
							padding: 5px 0 20px 0;
							font-family: 'open_sanssemibold';
						}

						.tovar-descr__desc {
							font-size: 14px;
							height: 90px;
							overflow: hidden;
							font-family: 'open_sansregular';
						}

						.rating__list {
							display: inline-block;
							margin-right: 15px;
							.rating__item {
								width: 15px;
								height: 15px;
								display: inline-block;
								vertical-align: middle;
								font-size: 0;

								&.starred {
									@include sprite($starred);
								}

								&.starwhite {
									@include sprite($starwhite);
								}
							}

						}
						.rating__number {

							padding: 0 10px;
							background-color: #b5beca;
							font-size: 12px;
							font-family: 'open_sansbold';
							color: #FFF;
							@include border-radius(10px);
						}

					}
					.tovar-money {
						&:after {
							content : "";
							width: 1px;
							position: absolute;
							top:0;
							height: 200px;
							background-color: #dee1e4;
						}


						display: table-cell;
						vertical-align: top;
						width: 125px;

						.tovar-money__price {
							text-align: right;
							margin-bottom: 125px;

							.tovar-money__price__number {
								font-size: 20px;
								font-family: 'open_sanssemibold';
								margin-right: 3px;
							}
						}
						.tovar-money__addtocart {
							width: 100%;
							text-align: right;

							.tovar-money__addtocart__btn {
								width: 103px;
								height: 33px;
								margin-bottom: 2px;
								color: #FFF;
								font-size: 14px;
								font-family: 'open_sansbold';

								border: 1px solid transparent;
								outline: 0 !important;

								-webkit-border-radius: 0 3px 3px 0;
								-moz-border-radius: 0 3px 3px 0;
								@include border-radius(5px);
								background-color: #f60;
								background-image: -webkit-linear-gradient(56deg, #f60, #ff6e35 99%);
								background-image: -moz-linear-gradient(56deg, #f60, #ff6e35 99%);
								background-image: -o-linear-gradient(56deg, #f60, #ff6e35 99%);
								background-image: -ms-linear-gradient(56deg, #f60, #ff6e35 99%);
								background-image: linear-gradient(56deg, #f60, #ff6e35 99%);

								&:hover {
									font-size: 15px;
								}
							}
						}
						.tovar-money__outofstock {
							text-align: right;
							.tovar-money__outofstock__point {
								font-size: 7px;
								color: #60ac49;
								display: inline-block;
								vertical-align: middle;
							}

							.tovar-money__outofstock__status {
								font-size: 12px;
								font-family: 'open_sansbold';
								color: #7f7f7f;
								padding-left: 5px;
							}
						}

					}
				}

			}
		}
	} // .viewcontent

	// Третий вид
	.viewlist {
		.products__list {
			.products__item {
				padding: 10px 10px 5px 10px;
				border-top: solid 1px #dee1e4;

				&:first-child {
					border-top: 0;
				}

				&:hover {
					box-shadow: -1px 1px 5.7px 1px rgba(118, 118, 118, 0.75);
				}

				.tovar {
					display: table;
					position: relative;
					cursor: pointer;

					.tovar-foto {
						display: table-cell;
						width: 110px;
						.tovar-foto__large {
							display: none;
						}

						.tovar-foto-small__list {
							display: none;
						}

						.tovar-art {
							text-align: left;
							vertical-align: middle;
							padding-top: 5px;

							.tovar-art__type {
								font-size: 12px;
								font-family: 'open_sansbold';
								margin-right: 5px;
								color: #7f7f7f;
							}

							.tovar-art__number {
								font-size: 14px;
								font-family: 'open_sansbold';
								color: #333;
							}
						}
					}

					.tovar-descr {
						display: table-cell;
						vertical-align: middle;
						width: 285px;
						padding: 0 10px;
						font-size: 16px;

						.tovar-descr__name {
							display: none;
							/*font-size: 16px;
							padding: 0 0 20px 0;
							font-family: 'open_sanssemibold';*/
						}

						.tovar-descr__desc {
							width: 285px;
							font-size: 14px;

							white-space: nowrap;
							overflow: hidden;
							 text-overflow: ellipsis;
							font-family: 'open_sansregular';
						}
						.rating__list {display : none;}
						.rating__number {display : none;}

					}
					.tovar-money {

						display: table-cell;
						vertical-align: top;
						margin-top: -7px;
						width: 305px;
						// background-color: aqua;

						.tovar-money__price {
							width: 80px;
							// background-color: red;
							float:left;
							.tovar-money__price__number {
								font-size: 20px;
								font-family: 'open_sanssemibold';
								margin-right: 3px;
							}
						}

						.tovar-money__addtocart {
							width: 103px;
							float:right;
							background-color: yellow;

							.tovar-money__addtocart__btn {
								width: 103px;
								height: 33px;
								color: #FFF;
								font-size: 14px;
								font-family: 'open_sansbold';

								border: 1px solid transparent;
								outline: 0 !important;

								-webkit-border-radius: 0 3px 3px 0;
								-moz-border-radius: 0 3px 3px 0;
								@include border-radius(5px);
								background-color: #f60;
								background-image: -webkit-linear-gradient(56deg, #f60, #ff6e35 99%);
								background-image: -moz-linear-gradient(56deg, #f60, #ff6e35 99%);
								background-image: -o-linear-gradient(56deg, #f60, #ff6e35 99%);
								background-image: -ms-linear-gradient(56deg, #f60, #ff6e35 99%);
								background-image: linear-gradient(56deg, #f60, #ff6e35 99%);

								&:hover {
									font-size: 15px;
								}
							}
						}

						.tovar-money__outofstock {
							float:right;
							margin: 5px 20px 0 0;
							.tovar-money__outofstock__point {
								font-size: 7px;
								color: #60ac49;
								display: inline-block;
								vertical-align: middle;
							}

							.tovar-money__outofstock__status {
								font-size: 12px;
								font-family: 'open_sansbold';
								color: #7f7f7f;
								padding-left: 5px;
							}
						}

					}
				}

			}
		}
	} // .viewlist

}
