div.footer-content
	div.footer-top
		div.footer-logo
			img.footer-logo__img(src="img/logo_footer.png" alt="Лого")
		div.footer-links
			div.footer-socials
				ul.socials__list
					li.socials__item
						a.socials__link.fbbottom(href="#" target="_blank") fb
					li.socials__item
						a.socials__link.vkbottom(href="#" target="_blank") vk
					li.socials__item
						a.socials__link.twbottom(href="#" target="_blank") tw
			div.footer-nav
				ul.nav__list
					li.nav__item
						a.nav__link(href="#") Планшеты
					li.nav__item.activ
						a.nav__link(href="#") Мобильные телефоны
					li.nav__item
						a.nav__link(href="#") Mp3 плееры
					li.nav__item
						a.nav__link(href="#") Персональные компьютеры
					li.nav__item
						a.nav__link(href="#") Ноутбуки
					li.nav__item
						a.nav__link(href="#") Аксессуары
					li.nav__item
						a.nav__link(href="#") Бытовая техника
div.footer-bottom
	span.copyright   All rights reserved. 2016. no copy alowed
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.12.0.min.js"><\/script>');</script>
<script src="js/jquery.formstyler.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.columnizer.min.js"></script>
<script src="js/main.js"></script>