footer.footer
	div.footer-top
		div.container
			div.footer__left
				div.footer-logo
					img.footer-logo__img(src="img/logo_footer.png" alt="Лого")
			div.footer__right
				ul.footer-socials__list
					li.footer-socials__item
						a.footer-socials__link.fbbottom(href="#" target="_blank") fb
					li.footer-socials__item
						a.footer-socials__link.vkbottom(href="#" target="_blank") vk
					li.footer-socials__item
						a.footer-socials__link.twbottom(href="#" target="_blank") tw
				div.footer-nav
					ul.footer-nav__list
						li.footer-nav__item
							a.footer-nav__link(href="#") Планшеты
						li.footer-nav__item.active
							a.footer-nav__link(href="#") Мобильные телефоны
						li.footer-nav__item
							a.footer-nav__link(href="#") Mp3 плееры
						li.footer-nav__item
							a.footer-nav__link(href="#") Персональные компьютеры
						li.footer-nav__item
							a.footer-nav__link(href="#") Ноутбуки
						li.footer-nav__item
							a.footer-nav__link(href="#") Аксессуары
						li.footer-nav__item
							a.footer-nav__link(href="#") Бытовая техника
	div.footer-bottom
		span.copyright   All rights reserved. 2016. no copy alowed
