header.header
	div.header-top
		div.container
			div.header-top__left
				ul.socials
					li.socials__item
						a.socials__link.fbtop(href="#" target="_blank") fb
					li.socials__item
						a.socials__link.vktop(href="#" target="_blank") vk
					li.socials__item
						a.socials__link.twtop(href="#" target="_blank") tw
			div.header-top__right
				div.address
					i.address__icon address_icon
					div.address__text ул. Маяковская 6, офис 17
				div.phone
					i.phone__icon phone_icon
					a.phone__text(href="tel:+79211231213") +7 (921) 123-12-13
	div.header-bottom
		div.container
			div.header-bottom__left
				a.logo(href="#")
					img.logo__img(src="img/logo_header.png" alt="Лого")
					sapn.logo__text Каталог мобильных телефонов
			div.header-bottom__center
				div.search
					form.search__form(method="post" action="#")
						input.search__text(placeholder="Что будем искать" required)
						button.search__btn(type="submit" value="submit") Найти
			div.header-bottom__right
				ul.mininav__list
					li.mininav__item
						a.mininav__link(href="#") Карта проезда
					li.mininav__item
						a.mininav__link(href="#") История заказов
					li.mininav__item
						a.mininav__link(href="#") Корзина
