header.header
	section.header-contacts
		div.header-contacts_container
			ul.contacts-socials__list 
				li.socials__item 
					a.socials__link.fbtop(href="#" target="_blank") fb
				li.socials__item
					a.socials__link.vktop(href="#" target="_blank") vk
				li.socials__item
					a.socials__link.twtop(href="#" target="_blank") tw
			div.contacts-phone
				i.contacts-phone__icon.icon contacts-phone
				span.contacts-phone__text +7 (921) 123-12-13
			div.contacts-address
				i.contacts-address__icon.icon contacts-address
				span.contacts-address__text ул. Маяковская 6, офис 17
	section.header-middle
		div.header-middle__logo.cell
			img.logo-img(src="img/logo_header.png" alt="Лого")
			h1.logo-text Каталог мобильных телевонов
		div.header-middle__search.cell
			div.search-tovear
				form.search-tovar__form.form(method="post" action="#")
					input.search-tovar__text(name="search-tovear__text" placeholder="Что будем искать")
					button.search-tovar__btn(type="submit" value="submit") Найти
		div.header-middle__mininav.cell
			ul.mininav__list
				li.mininav__item
					a.mininav__link(href="#") Карта проезда
				li.mininav__item
					a.mininav__link(href="#") История заказов
				li.mininav__item
					a.mininav__link(href="#") Корзина
	section.header-nav
		nav.nav
			ul.nav__list
				li.nav__item
					a.nav__link(href="#") Планшеты
				li.nav__item.activ
					a.nav__link(href="#") Мобильные телефоны
				li.nav__item
					a.nav__link(href="#") Mp3 плееры
				li.nav__item
					a.nav__link(href="#") Персональные компьютеры
				li.nav__item
					a.nav__link(href="#") Ноутбуки
				li.nav__item
					a.nav__link(href="#") Аксессуары
				li.nav__item
					a.nav__link(href="#") Бытовая техника
