aside.sidebar
	ul.mobile-type__list 
		li.mobile-type__item
			a.mobile-type__link(href="#") Флагманы
		li.mobile-type__item.active
			a.mobile-type__link(href="#") Бюджетная линейка
	form.filters__form
		ul.filters__list
			li.filters__item
				a.filters__link(href="#") Наличие в магазинах
					i.arrow.icon arrow
				div.filter
					ul.filter-instore__list.radiogroup
						li.filter__item
							label.filter__label
								input.filter__select(type="radio" checked name="filter-instore")
								span.filter-elem
								span.filter-text Во всех магазинах
						li.filter__item
							label.filter__label
								input.filter__select(type="radio" name="filter-instore")
								span.filter-elem
								span.filter-text В ближайшем ко мне магазине
			li.filters__item
				a.filters__link(href="#") Бренды
					i.arrow.icon arrow
				div.filter
					ul.filter-brand__list.checkboxgroup
						li.filter__item
							label.filter__label
								input.filter__select(type="checkbox" checked name="lenovo")
								span.filter-elem
								span.filter-text Lenovo
						li.filter__item
							label.filter__label
								input.filter__select(type="checkbox" checked name="apple")
								span.filter-elem
								span.filter-text Apple
						li.filter__item
							label.filter__label
								input.filter__select(type="checkbox" checked name="samsung")
								span.filter-elem
								span.filter-text Samsung
						li.filter__item
							label.filter__label
								input.filter__select(type="checkbox" name="asus")
								span.filter-elem
								span.filter-text Asus
						li.filter__item
							label.filter__label
								input.filter__select(type="checkbox" name="motorola")
								span.filter-elem
								span.filter-text Motorola
					a.filters__clear(href="#") Сбросить фильтр
			li.filters__item
				a.filters__link(href="#") Цена
					i.arrow.icon arrow
				div.filter
					div.filter-price
						div.filter-price__min
							label.filter-price__label(for="money-begin") от
							input.filter-price__money(type="text" data-min="0" id="money-begin" name="money-begin")
						div.filter-price__max
							label.filter-price__label(for="money-end") до
							input.filter-price__money(type="text" data-max="25000" id="money-end" name="money-end")
					div.filter-price__slider(id="price__slider")
			li.filters__item
				a.filters__link(href="#") Цвет
					i.arrow.icon arrow
				div.filter
					ul.filter-color__list
						li.color__item
							input.color__item-checkbox(id="color__white" type="checkbox" name="color")
							label.color__item-label.color__white(for="color__white")
						li.color__item
							input.color__item-checkbox(id="color__very-light-grey" type="checkbox" checked name="color")
							label.color__item-label.color__very-light-grey(for="color__very-light-grey")
						li.color__item
							input.color__item-checkbox(id="color__black" type="checkbox" name="color")
							label.color__item-label.color__black(for="color__black")
						li.color__item
							input.color__item-checkbox(id="color__prussian-blue" type="checkbox" name="color")
							label.color__item-label.color__prussian-blue(for="color__prussian-blue")
						li.color__item
							input.color__item-checkbox(id="color__red" type="checkbox" name="color")
							label.color__item-label.color__red(for="color__red")
						li.color__item
							input.color__item-checkbox(id="color__yellow" type="checkbox" name="color")
							label.color__item-label.color__yellow(for="color__yellow")
						li.color__item
							input.color__item-checkbox(id="color__sunshade" type="checkbox" name="color")
							label.color__item-label.color__sunshade(for="color__sunshade")
						li.color__item
							input.color__item-checkbox(id="color__gossip" type="checkbox" name="color")
							label.color__item-label.color__gossip(for="color__gossip")
						li.color__item
							input.color__item-checkbox(id="color__summer-sky" type="checkbox" name="color")
							label.color__item-label.color__summer-sky(for="color__summer-sky")
						li.color__item
							input.color__item-checkbox(id="color__ce-soir" type="checkbox" name="color")
							label.color__item-label.color__ce-soir(for="color__ce-soir")
						li.color__item
							input.color__item-checkbox(id="color__pale-violet-red" type="checkbox" name="color")
							label.color__item-label.color__pale-violet-red(for="color__pale-violet-red")
						li.color__item
							input.color__item-checkbox(id="color__russet" type="checkbox" name="color")
							label.color__item-label.color__russet(for="color__russet")
					a.filters__clear(href="#") Сбросить фильтр
			li.filters__item
				a.filters__link(href="#") Операционные системы
					i.arrow.icon arrow
				div.filter
					ul.filter-os__list.checkboxgroup
						li.filter__item
							label.filter__label
								input.filter__select(type="checkbox" name="android")
								span.filter-elem
								span.filter-text Android
						li.filter__item
							label.filter__label
								input.filter__select(type="checkbox" name="ios")
								span.filter-elem
								span.filter-text iOS
						li.filter__item
							label.filter__label
								input.filter__select(type="checkbox" name="windowsmobile")
								span.filter-elem
								span.filter-text Windows Mobile
						li.filter__item
							label.filter__label
								input.filter__select(type="checkbox" name="symbian")
								span.filter-elem
								span.filter-text Symbian
						li.filter__item
							label.filter__label
								input.filter__select(type="checkbox" name="custom")
								span.filter-elem
								span.filter-text Custom
					a.filters__clear(href="#") Сбросить фильтр